# =========================================================
# 🔒 EVITAR ACCESO A CARPETAS
# =========================================================
Options -Indexes

# =========================================================
# ⚠️ PÁGINAS DE ERROR PERSONALIZADAS
# =========================================================
ErrorDocument 403 /VotoSecure/vista/403.php
ErrorDocument 404 /VotoSecure/vista/404.php

